registry=https://registry.npmjs.org/
@cmpc:registry=https://pkgs.dev.azure.com/trinca/_packaging/api-packages/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/trinca/_packaging/api-packages/npm/registry/:username=trinca
//pkgs.dev.azure.com/trinca/_packaging/api-packages/npm/registry/:_password=d3k1bG1wbmhkeGJja3VhdGdwZ2NiMmp4M3h0b212Z3ZvbDVkNDd6eGhtNzV5NnRzbHczYQ==
//pkgs.dev.azure.com/trinca/_packaging/api-packages/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/trinca/_packaging/api-packages/npm/:username=trinca
//pkgs.dev.azure.com/trinca/_packaging/api-packages/npm/:_password=d3k1bG1wbmhkeGJja3VhdGdwZ2NiMmp4M3h0b212Z3ZvbDVkNDd6eGhtNzV5NnRzbHczYQ==
//pkgs.dev.azure.com/trinca/_packaging/api-packages/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
